<h1>Create your Itinerary</h1>

<%= simple_form_for @itinerary do |f| %>
  <div class="field">
    <%= f.input :title %>
  </div>

  <%= f.simple_fields_for :locations do |l| %>
    <div class="field">
      <%= l.input :name %>
    </div>
    <div class="field">
      <%= l.input :address %>
    </div>
  <% end %>

  <div class="action">
    <%= f.button :submit %>
  </div>
<% end %>
